extends layouts/default

block content
	main.grid.ui
		header.grid__item-sm--12.text--center
			h1 Whitespectre Code Exercise

		section#app.grid__item-sm--12.grid.grid--justify-between.grid--align-center Loading...
