- var arrowBack = 'arrow-back';
- var arrowForward = 'arrow-forward';

h2.grid__item-sm--12= data.title

a#bt-prev.bt.bt--small(href='#' + (data.id - 1), title='Previous', disabled= hasPrev)
	svg.icon(class='icon--' + arrowBack)
		use(xlink:href='./img/sprite.svg#' + arrowBack)

#carousel.grid__item-sm.grid.grid--justify-around.grid--align-center
	each img in data.images
		img.img.img--thumb.img--rounded(src=img)

a#bt-next.bt.bt--small(href='#' + (data.id + 1), title='Next', disabled= hasNext)
	svg.icon(class='icon--' + arrowForward)
		use(xlink:href='./img/sprite.svg#' + arrowForward)

